@import '../../classic-theme.scss';

#footer {
    height: 7vh;
    display: flex;
    background-color: $background-element;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
}

#footer-grid {
    width: 100%;
}

span {
    margin: auto;
}

#tcu {
    cursor: pointer;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}